body {
    margin: 0;
    margin-top: 100px;
    height: 800px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content:center;
    
}

/* Need to make canvas position relative and buttons absolute to overlay buttons on top of canvas 
#myCanvas {
    position:relative;
} */

/* Instead, I made a container with same width and height as my canvas */

#container {
    position:relative;
    width: 800px;
    height: 600px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
}

.hidden {
    display: none;
}

#onePlayerBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#twoPlayersBtn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nextBtn, #gameNextBtn {
    position: absolute;
    top: 85%;
    left: 88%;
    transform: translate(-50%, -50%);
}

#playBtn, #playAgainBtn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

